@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-3 mb-4">
            <div>
                <img src="~/img/product/@item.PictureUri" alt="@item.ProductName" class="w-100" />
            </div>
            <div class="product-name">
                @item.ProductName
            </div>
            <div>
                @item.ProductPrice.ToString("c2");
            </div>
        </div>
    }
</div>